<link rel="stylesheet" href="/assets/css/articles.css">
<script src="/assets/js/articles.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Space Scrape</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/">Home</a>
          <a class="dropdown-item" href="/scrape">Scrape</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/removeArticles">Remove Articles</a>
        </div>
      </li>
      
    </ul>
    
  </div>
</nav>



<div class="container">
  {{#each data}}
    {{#if space}}
      <div class="row">
        <div class="card col-8 m-auto">
          <img class="card-img-top m-auto" src="{{this.imgUrl}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p>{{this.summary}}</p>
            <a class="btn btn-outline-success" href="{{this.link}}" target="_blank" class="card-link">Article</a>
            <a class="btn btn-outline-success" href="/article/{{this._id}}">Comment</a>
            <p>Number of comments: {{this.comments.length}}</p>
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>