<link rel="stylesheet" href="/assets/css/articles.css">
<script src="/assets/js/articles.js"></script>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #111;">
  <a class="navbar-brand" href="/">Space Articles</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollape"
    aria-controls="navbarCollape" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollape">
    <ul class="nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/scrape">Grab Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/removeArticles">Delete All Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#top">Top</a>
      </li>
    </ul>
  </div>
</nav>



<div id="top" class="container padding-top">
  {{!-- <div id="top" class="margin-top"></div> --}}
  {{#each data}}
  {{#if space}}
  <div class="row">
    <div class="card col-8 m-auto">
      <img class="card-img-top m-auto" src="{{this.imgUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p>{{this.summary}}</p>
        <p class="numCom">Number of comments: {{this.comments.length}}</p>
        <a class="btn btn-dark" href="{{this.link}}" target="_blank" class="card-link">Article</a>
        <a class="btn btn-dark" href="/article/{{this._id}}">Comment</a>
        <button data-id="{{this._id}}" class="btn btn-danger delBtn">Delete</button>
      </div>
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>